[submodule "code/interference_tables/wifi/packetspammer"]
	path = code/interference_tables/wifi/packetspammer
	url = git@github.com:gnychis/packetspammer.git
[submodule "code/interference_tables/wifi/firmware"]
	path = code/interference_tables/wifi/firmware
	url = git@github.com:gnychis/open-ath9k-htc-firmware.git
[submodule "code/interference_tables/wifi/driver"]
	path = code/interference_tables/wifi/driver
	url = https://github.com/gnychis/ath9k_htc-backports
[submodule "code/interference_tables/zigbee/firmware"]
	path = code/interference_tables/zigbee/firmware
	url = git@github.com:gnychis/econotag-firmware.git
[submodule "code/optimization/mlp_solver"]
	path = code/optimization/mlp_solver
	url = https://github.com/gnychis/coexisyst-orgsolver.git
[submodule "code/optimization/mip_solver"]
	path = code/optimization/mip_solver
	url = git@github.com:gnychis/coexisyst-orgsolver.git
[submodule "code/interference_tables/bluetooth/ubertooth"]
	path = code/interference_tables/bluetooth/ubertooth
	url = ssh://gnychis@git.code.sf.net/u/gnychis/ubertooth
